<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <p>
    AngularJS was developed in 2008-2009 by Misko Hevery and Adam Abrons and is now maintained
    by Google. AngularJS is a Javascript open-source front-end framework that
    is mainly used to develop single-page web applications(SPAs). 
    It is a continuously growing and expanding framework which provides better ways for developing web applications.
    This AngularJS tutorial is designed for beginners as well as professionals,
    which covers a wide range of important topics, including AngularJS Expressions,
    AngularJS directives, AngularJS Data Binding, AngularJS controllers,
    AngularJS modules, AngularJS scopes, filters, and more.
    Additionally, we also provide AngularJS interview questions
    to help you deepen your understanding of the framework and prepare for potential job opportunities.
 </p>
 <h1>Card</h1>
 <ion-card color="primary">
   <ion-card-header>
     <ion-card-title>Card Title</ion-card-title>
     <ion-card-subtitle>Card Submit</ion-card-subtitle>
   </ion-card-header>

   <ion-card-content>Card Content</ion-card-content>
 </ion-card>

 <ion-card color="secondary">
   <ion-card-header>
     <ion-card-title>Card Title</ion-card-title>
     <ion-card-subtitle>Card Submit</ion-card-subtitle>
   </ion-card-header>

   <ion-card-content>Card Content</ion-card-content>
 </ion-card>

 <ion-card color="light">
   <ion-card-header>
     <ion-card-title>Card Title</ion-card-title>
     <ion-card-subtitle>Card Submit</ion-card-subtitle>
   </ion-card-header>

   <ion-card-content>Card Content</ion-card-content>
 </ion-card>

 <ion-card color="success">
   <ion-card-header>
     <ion-card-title>Card Title</ion-card-title>
     <ion-card-subtitle>Card Submit</ion-card-subtitle>
   </ion-card-header>

   <ion-card-content>Card Content</ion-card-content>
 </ion-card>

 <ion-card color="warning">
   <ion-card-header>
     <ion-card-title>Card Title</ion-card-title>
     <ion-card-subtitle>Card Submit</ion-card-subtitle>
   </ion-card-header>

   <ion-card-content>Card Content</ion-card-content>
 </ion-card>


</ion-content>
