<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input label="Name :" placeholder="Enter Name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="Age :" type="number" placeholder="Enter your age "></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="Contact Nomber :" type="number" placeholder="Enter your contact_no"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="Email Id :" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="Address :" type="string" placeholder="Enter your adderss"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-button expand = "true">
    Submit
  </ion-button>

</ion-content>
